body {
    font-family: sans-serif;
    font-size: 14px;
}
section {
    width:35%;
    height: 580px;
    background-color: #eee;
}
header {
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 20px;
}
article {
    background-color: white;
    position: relative;
    top: 30px;
    margin: 20px;
    border: 1px solid #b8b8b8;
    height: 140px; 
}
img {
    float: left;
    margin: 20px;
    border: 1px solid #b8b8b8;
}
p {
    margin: 20px;
    margin-right: 20px;
    position: relative;
}
div {
    margin-left: 250px;
    position: relative;
}
a {
    color: white;
    text-decoration: none;
    background-color: #cc0001;
    border-top: 2px solid #e98786;
    border-right: 2px solid #620000;
    border-bottom: 2px solid #620000;
    border-left: 2px solid #9b2527; 
    box-shadow: inset 20px 0 0 #8a0000;
    padding: 0 10px 0 25px;
}
.height {
    height: 150px;
}





