body {
  background: #f0f9ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #9215f2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #9215f2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #9215f2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #9215f2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #9215f2 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #9215f2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#9215f2',GradientType=0 );
  /* IE6-9 */
  color: white; }
  body a {
    text-decoration: none;
    color: white; }
    body a:hover {
      text-decoration: underline;
      color: yellow; }
  body nav {
    width: 75%;
    margin-left: 20px; }
    body nav h1 {
      float: left; }
    body nav ul {
      border: 1px solid black;
      border-radius: 10px;
      padding: 10px; }
      body nav ul li {
        display: inline-block;
        padding: 0 10px; }
        body nav ul li > ul {
          position: absolute;
          display: none; }
          body nav ul li > ul li {
            display: block; }
        body nav ul li:hover > ul {
          display: block;
          background: pink; }
  body #reg-form-container {
    position: absolute;
    right: 60px;
    top: 30px; }
    body #reg-form-container input {
      background: #9215f2;
      border-radius: 10px;
      border: 1px solid black; }
    body #reg-form-container button {
      background: #9215f2;
      border: 1px solid black;
      border-top: white;
      border-left: white;
      border-radius: 5px;
      color: white;
      padding: 5px 10px; }
  body section {
    float: left;
    width: 75%;
    margin-left: -10px;
    font-size: 0.8em; }
    body section article {
      border: 1px solid black;
      border-radius: 10px;
      padding: 10px;
      margin: 20px; }
      body section article h1 {
        font-size: 1.3em;
        margin-bottom: -5px; }
      body section article footer {
        text-align: right;
        margin-top: -5px; }
  body aside {
    float: left;
    margin: 20px;
    width: 25%;
    position: absolute;
    right: 20px;
    font-size: 0.8em; }
    body aside ul {
      padding: 10px; }
      body aside ul li {
        border: 1px solid black;
        border-radius: 5px;
        list-style-type: none;
        margin: 15px;
        padding: 10px; }
        body aside ul li h2 {
          margin-top: -5px;
          margin-bottom: -5px; }
        body aside ul li ul li {
          background: url(images/li-dot.png) 0px 3px no-repeat;
          padding: 0;
          padding-left: 22px;
          margin: 2px;
          font-size: 0.9em;
          border: 0; }
  body footer {
    clear: both;
    text-align: center;
    margin: 20px; }

